.widget{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    flex: 0.2;
    box-shadow: 17px -1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 17px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px -1px 5px 0px rgba(0,0,0,0.75);
height: 100px;
background-color: black;
color: white;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

